{{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}

{#<button type="submit" class="btn btn-primary">{{ button_label|default('Salva') }}</button>#}
{{ form_end(form) }}