{% extends 'admin-layout.html.twig' %}

{% block title %}Offerte di lavoro{% endblock %}

{% block main %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <section>
                <div class="alert alert-{{ label }} text-center" role="alert">
                    {{ message }}
                </div>
            </section>
        {% endfor %}
    {% endfor %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Gestione offerte di lavoro</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{{ path('web_admin_jobpost_new') }}" class="btn btn-sm btn-outline-secondary">
                    Aggiungi
                </a>
            </div>
        </div>
    </div>

    <h2>Lista</h2>

    <div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Titolo</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Azioni</th>
                </tr>
                </thead>
                <tbody>
                {% for jobpost in jobposts  %}
                    <tr>
                        <td>#</td>
                        <td>{{ jobpost.id }}</td>
                        <td>
                            <a href="{{ path('web_admin_jobpost_show', {'id': jobpost.id.toString}) }}">
                                {{ jobpost.title }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('web_admin_jobpost_show', {'id': jobpost.id.toString}) }}">
                                {{ jobpost.description }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('web_admin_jobpost_delete', {'id': jobpost.id.toString}) }}">Elimina</a>
                            <a href="{{ path('web_admin_jobpost_edit', {'id': jobpost.id.toString}) }}">Modifica</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
